node_modules/

coverage/

dump/

# Next.js
.next/
.env
.env.*
!.env.development

# Sentry Config File
.sentryclirc

# Vercel
.vercel

## Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
