node_modules/
.pnpm-store/

coverage/

dump/

# Next.js
.next/
.env
.env.*
!.env.development

# Sentry Config File
.sentryclirc
.env.sentry-build-plugin

# Vercel
.vercel

## Playwright
/blob-report/
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
