@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Orbitron&display=block");

:root {
  --bs-font-sans-serif: "Comfortaa", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

h1 {
  padding-top: 1em;
}
