@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Orbitron&display=block");

/**
  * Add support to button attached to a form-floating element.
  */
.form-floating + .btn {
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
}

/**
 * Override default fonts.
 */
:root {
  --bs-font-sans-serif: "Comfortaa", sans-serif;
  --fz-font-title: "Orbitron", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fz-font-title);
}

.form-label {
  font-family: var(--fz-font-title);
}

/**
 * Customize text positioning.
 */
h1,
.h1 {
  padding-top: 1em;
}

h2,
h3,
.h2,
.h3 {
  padding-top: 0.5em;
}

/**
 * Custom styles for .type and .stats
 */
.type::before,
.ref::before,
.stats span::before {
  transform: skew(-20deg);
  background-color: #cc381b;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -1000;
}

.type,
.ref,
.stats span {
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.75em;
  margin-right: 0.5em;
}

.type,
.stats span {
  text-transform: uppercase;
  font-weight: bold;
}

.stats span.down::before {
  background-color: #245883;
}

.stats {
  text-align: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.ref {
  margin-top: 0.25em;
  display: inline-block;
}

.ref::before {
  border: 1px solid #eee;
  background-color: transparent;
}
