@use "bootstrap/scss/bootstrap.scss";

@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

/**
  * Add support to button attached to a form-floating element.
  */
.form-floating + .btn {
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
}

/**
 * Override default fonts.
 */
:root {
  --bs-font-sans-serif: "Comfortaa", sans-serif;
  --fz-font-title: "Orbitron", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fz-font-title);
}

.form-label {
  font-family: var(--fz-font-title);
}

/**
 * Customize text positioning.
 */
h1,
.h1 {
  padding-top: 1em;
}

h2,
h3,
.h2,
.h3 {
  padding-top: 0.5em;
}

/**
 * Remove arrows on number inputs.
 */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Custom styles for .type and .stats
 */
.hstack {
  :first-child {
    margin-left: auto;
  }
}

.badge::before {
  transform: skew(-20deg);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -1000;
}

.badge {
  --bs-badge-font-size: 0.875em;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.75em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: var(--bs-line-height);
  margin-right: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.badge.bg-primary {
  --bs-bg-opacity: 0;
  &::before {
    background-color: #cc381b;
  }
}

.badge.bg-secondary {
  --bs-bg-opacity: 0;
  &::before {
    background-color: #245883;
  }
}

.ref {
  margin-top: 0.25em;
  display: inline-block;
}

.ref::before {
  border: 1px solid #eee;
  background-color: transparent;
}
