@use "bootstrap-icons/font/bootstrap-icons";
@use "sass:map";

$grid-breakpoints: (
  xs: 0,
  sm: calc(390px * 2 + 50px),
  md: calc(390px * 3 + 50px),
  lg: calc(390px * 4 + 50px),
  xl: calc(390px * 6 + 50px),
);

$container-max-widths: (
  sm: calc(390px * 2),
  md: calc(390px * 3),
  lg: calc(390px * 4),
);

@import "bootstrap/scss/bootstrap.scss";

$sf-red: #cc381b;
$sf-blue: #245883;
$sf-darkred: #a71916;
$sf-darkblue: #080f1b;

@mixin skew {
  transform: skew(-20deg);
}

@mixin unskew {
  transform: skew(20deg);
}

.skew {
  @include skew;
}

.un-skew {
  @include unskew;
}

// XL container requires a 'large' class to be enabled.
@media (min-width: map.get($grid-breakpoints, "xl")) {
  .container.large {
    max-width: calc(390px * 6);
  }
}

/**
 * Overrides on the default bootstrap theme.
 */
.form-floating {
  & > .form-control:focus::placeholder,
  & > .form-control-plaintext:focus::placeholder {
    color: var(--bs-secondary-color);
    opacity: 0.5;
  }
}

// Source: https://github.com/twbs/bootstrap/pull/36155/files
.form-floating-always {
  &.form-floating,
  .form-floating {
    .form-control {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;

      &::placeholder,
      &:focus::placeholder {
        color: var(--bs-secondary-color);
        opacity: 0.5;
      }
    }

    label {
      color: rgba(var(--bs-body-color-rgb), 0.65);
      transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }
  }
}

/**
 * Add support to button attached to a form-floating element.
 */
.form-floating + .btn {
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
}

/**
 * Extend Typeahead to support floating labels.
 */
.form-floating > .rbt {
  .form-control {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
  }

  .form-control:focus,
  .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  &:has(.form-control:focus) ~ label,
  &:has(.form-control:not(:placeholder-shown)) ~ label {
    color: rgba(var(--bs-body-color-rgb), 0.65);
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  &:has(.form-control:not(:focus):placeholder-shown) ~ label {
    display: none;
  }
}

/**
 * Override default navbar styles.
 */
.navbar {
  background-color: $sf-darkblue;

  .nav-link {
    color: white;
  }
}

/**
 * Extend bootstrap icons with an empty placeholder.
 */
.bi-empty {
  display: inline-block;
  width: 1em;
}

/**
 * Override default fonts.
 */
:root {
  --bs-font-sans-serif: "Comfortaa", sans-serif;
  --fz-font-title: "Orbitron", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fz-font-title);
}

.header {
  font-family: var(--fz-font-title);
}

/**
 * Customize text positioning.
 */
h1,
.h1 {
  padding-top: 1em;
}

/**
  * Customize card styles.
  * Remove background color to avoid conflicts.
  * Allow card with header only.
  * Allow two card-body with a border for separation.
  */
.card {
  --bs-card-bg: transparent;

  .card-header {
    border-bottom: none;
  }

  .card-body {
    @extend .vstack;
    @extend .gap-2;
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);

    &.collapse:not(.show) {
      display: none;
    }

    p {
      margin-bottom: 0;
    }
  }
}

/**
 * Remove arrows on number inputs.
 */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Custom styles for .type and .stats
 */
.hstack.right {
  :first-child {
    margin-left: auto;
  }
}

.badge {
  @include skew();
  display: inline-block;
  position: relative;
  border-radius: 0;
  padding-top: 0.45em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  text-transform: uppercase;
  font-weight: bold;

  .content {
    display: inline-block;
    @include unskew();
  }

  &.bg-primary {
    background-color: $sf-red !important;
  }

  &.bg-secondary {
    background-color: $sf-blue !important;
  }
}

/**
 * Custom colors
 */
.text-gold {
  color: #fada80;
}

.progress-bar {
  background-color: $sf-red;
}

/**
 * Custom elements.
 */
.reference {
  overflow: hidden;
  display: flex;
  align-items: left;
  width: calc(2em + 4px);
  transition: all 0.5s ease 0.2s;
  cursor: default;

  &:hover {
    width: 100%;
  }

  .bi {
    background: var(--bs-dark);
    padding-top: 2px;
    padding-left: 1em;
    padding-right: 0.6em;
    margin-left: -1em;
  }

  .text {
    padding-top: 2px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 0.5em;
  }
}

.nav {
  --bs-nav-link-color: var(--bs-body-color);
  --bs-nav-link-hover-color: var(--bs-body-color);
  --bs-nav-link-disabled-color: rgba(222, 226, 230, 0.5);
  gap: 2pt;

  .nav-link {
    &.active {
      background-color: $sf-darkred;
    }

    &:hover {
      background-color: $sf-red;
    }
  }
}

.navbar-create {
  width: auto;
  background-color: $sf-darkblue;

  .nav {
    --bs-nav-link-disabled-color: rgba(222, 226, 230, 0.5);
    gap: 2pt;
    align-items: stretch;

    .nav-item {
      display: flex;
      height: calc(1.85em + 2rem);

      .nav-link {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.disabled {
          color: var(--bs-nav-link-disabled-color);
        }

        &.active {
          background-color: $sf-darkred;
        }

        &:hover {
          background-color: $sf-red;
        }

        .label:has(+ .selected) {
          font-size: 0.85em;
          color: var(--bs-nav-link-disabled-color);
        }

        .selected {
          max-width: 10em;
          white-space: nowrap;
        }
      }
    }
  }
}
